
.animate {
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.stop {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

span,
span.textSplit {
    color: goldenrod;
    font-weight: 700;
    letter-spacing: 4px;
}

span:nth-child(even) {
    color:#323232;
}

/* Slide Animations */
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;	   
}

.slideInLeft:nth-child(odd) {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
	    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
        transform: translateX(100vw);
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
}
to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}}

@keyframes slideInLeft {
    from {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
}
to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}}
/* ---------------------- */

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight {
    from {
    opacity: 0;
    -webkit-transform: translateX(2.5rem);
    transform: translateX(2.5rem);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}}
@keyframes fadeInRight {
    from {
    opacity: 0;
    -webkit-transform: translateX(2.5rem);
    transform: translateX(2.5rem);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}}


.highlightText:nth-child(odd){  
    padding:0 10px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #575757), color-stop(50%, transparent));
    background: -o-linear-gradient(left, #575757 50%, transparent 50%);
    background: linear-gradient(to right, #575757 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-animation-name: hilight;
    animation-name: hilight;

}

@-webkit-keyframes hilight{
0% {
}
100% {
    background-position: left bottom;
}

}

@keyframes hilight{
0% {
}
100% {
    background-position: left bottom;
}

}



/* Call to action button on index page */


@-webkit-keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* scroll down */

@keyframes scrolldown {
    0%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
    50%{
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }
    100%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}