
.cards {    
  margin: 0 auto;
  width: 100%;    
  display: -webkit-box;    
  display: -ms-flexbox;    
  display: flex;
}

.card {
  width: 100%;
  height: 50vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #181818;    
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.376);    
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.376);
  overflow: hidden;    
}

.card + .card {
  margin-left: 25px;
}

.card_header {
  padding: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;  
  color: white;
  background-color: #181818;
  background-size: cover; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: top 300ms ease-out;
  -o-transition: top 300ms ease-out;
  transition: top 300ms ease-out;
  z-index: 10;
}

.card_header .card_img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%) scale(0.8);
      -ms-transform: translate(-50%) scale(0.8);
          transform: translate(-50%) scale(0.8);   
  z-index: -1;    
  -o-object-fit: cover;    
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.5s ease, -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out, opacity 0.5s ease;
  transition: transform 0.4s ease-in-out, opacity 0.5s ease;
  transition: transform 0.4s ease-in-out, opacity 0.5s ease, -webkit-transform 0.4s ease-in-out;
}

.card_header .card_img:last-child {
  width: 90%;
    top: 20%;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
}

.card_header:hover {
  background-color: #282828;
  cursor: pointer;
}

.card_header:hover .card_img,
.card_header:active .card_img {
  -webkit-transform-origin: bottom right 60px;
      -ms-transform-origin: bottom right 60px;
          transform-origin: bottom right 60px;
  -webkit-transform: scale(1.05) translate(-50%) skewY(5deg);
      -ms-transform: scale(1.05) translate(-50%) skewY(5deg);
          transform: scale(1.05) translate(-50%) skewY(5deg);    
}

.card:hover {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}   


.card_title {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: clamp(1.2rem 1.5vh 3rem);
  font-weight: 300;   
  text-transform: uppercase;
  line-height: .9;
  
}

.tech {
  margin: 0.75rem 0 0;
  width: 80%;
  position: absolute;
  top: 50px;   
  color: #888;
  font-size: 0.8rem;    
  font-weight: 100;
}

.card_more_info,
.card_less_info {
  background-color: #ededed;
  padding: .5rem 1rem;
  border: 0;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .6rem;
  margin-top: auto;
  -webkit-transition: background 200ms ease-out,
 -webkit-transform 500ms ease-out;
  transition: background 200ms ease-out,
 -webkit-transform 500ms ease-out;
  -o-transition: transform 500ms ease-out,
 background 200ms ease-out;
  transition: transform 500ms ease-out,
 background 200ms ease-out;
  transition: transform 500ms ease-out,
 background 200ms ease-out,
 -webkit-transform 500ms ease-out;
}

.card_more_info:focus,
.card_less_info:focus,
.card_more_info:hover,
.card_less_info:hover {
  outline: none;
  background: rgb(189, 189, 189);
}

.card_more_info {
  -webkit-transition-delay: 500ms, 0ms;
       -o-transition-delay: 500ms, 0ms;
          transition-delay: 500ms, 0ms;
}

.card_less_info {
  margin-left: auto;
  -webkit-transform: translateY(300%);
      -ms-transform: translateY(300%);
          transform: translateY(300%);
}


.card_open .card_more_info {
  -webkit-transform: translateY(300%);
      -ms-transform: translateY(300%);
          transform: translateY(300%);
  -webkit-transition-delay: 0ms;
       -o-transition-delay: 0ms;
          transition-delay: 0ms;
}

.card_open .card_less_info {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 500ms, 0ms;
       -o-transition-delay: 500ms, 0ms;
          transition-delay: 500ms, 0ms;
}

.card_content {
  position: relative;
  margin: 0 auto;
  width: 90%;
  top: 50%;
  padding: 20px;
  padding-top: 5px;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_content p {
  margin: 1rem 0 0 0;
  font-size: 0.7rem;
  color: #ededed;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.card_content .links {
  position: absolute;
  bottom: 1rem;
  left: auto;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_content .links a {
  background-color: rgba(195, 195, 195, 0.8);
  padding: .5rem 1rem;
  border: 0;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8rem;
  margin-top: auto;
  -webkit-transition: background 200ms ease-out,
 -webkit-transform 500ms ease-out;
  transition: background 200ms ease-out,
 -webkit-transform 500ms ease-out;
  -o-transition: transform 500ms ease-out,
 background 200ms ease-out;
  transition: transform 500ms ease-out,
 background 200ms ease-out;
  transition: transform 500ms ease-out,
 background 200ms ease-out,
 -webkit-transform 500ms ease-out;
}

.card_content .links a:nth-child(1) {
  border-right: 3px solid orangered;
}

.card_content .links a:hover,
.card_content .links a:focus {
  background-color: white;
}

.card_open .card_header {
  bottom: 50%;
  left: 25px;
  right: 25px;
  top: 25px;
}



@media (480px < width < 768px ) {

  .card_header .card_img {
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%) scale(0.8);
        -ms-transform: translate(-50%) scale(0.8);
            transform: translate(-50%) scale(0.8);
  }

  .card_content p {
    font-size: 0.7rem;
  }

}


@media (min-width: 768px) {
  .card_header .card_img {
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%) scale(1);
        -ms-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1);
  }

  .card_content p {
    font-size: 1rem;
  }
}

@media (min-width: 980px) {

  .card_header .card_img {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%) scale(0.7);
        -ms-transform: translate(-50%) scale(0.7);
            transform: translate(-50%) scale(0.7);
  }

  .card_content p {
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) {

  .card_header .card_img {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%) scale(0.7);
        -ms-transform: translate(-50%) scale(0.7);
            transform: translate(-50%) scale(0.7);
  }

  .card_content p {
    font-size: 1rem;
  }
}

/* Iphone se media qs */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2)
{  
.tech {
font-size: 0.6rem;
}
.card_content p {
font-size: 0.6rem;
}
}