
.intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            color: var(--color-bg-accent);
            background-color: var(--color-bg-dark);
    overflow: hidden;
}

.intro > h1 {
    margin: 2rem 0;
    font-weight: 100;
}

.intro > h2 {
    margin: 2rem 0;
    font-weight: 100;
}

.loader {
    position: relative;
    margin: 4rem 0;
    background-color: var(--loader);
    width: 0;
    height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    /* setting font and color and then setting innerHTML with anime.js */
    font-size: 0.8rem;
    color: var(--color-bg-accent);
}

#enter_btn {
    background-color: var(--color-bg-accent);
    padding: .5rem 1rem;
    border: 0;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8rem;
    -webkit-transition: background 200ms ease-out,
   -webkit-transform 500ms ease-out;
    transition: background 200ms ease-out,
   -webkit-transform 500ms ease-out;
    -o-transition: transform 500ms ease-out,
   background 200ms ease-out;
    transition: transform 500ms ease-out,
   background 200ms ease-out;
    transition: transform 500ms ease-out,
   background 200ms ease-out,
   -webkit-transform 500ms ease-out;
}

#enter_btn:hover,
#enter_btn:focus {
    outline: none;
    background: rgb(189, 189, 189);
}