
.logo {
  margin-left: 2rem;
    position: absolute;
    top: 8vh;
    left: 0;    
    height: 125px;
    width: 125px;    
    -webkit-transition-delay: 0.5s;    
         -o-transition-delay: 0.5s;    
            transition-delay: 0.5s;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-perspective: 30em;
            perspective: 30em;
    z-index: 20;
  }

  @media screen and (max-width: 768px) { 
    .logo {
        top: 100px;
        left: 1rem;
    }
  }