.rob {
    position: relative;
    max-width: 60%;
    height: auto;
}


.rob .eye {
    cursor: pointer;
}

.rob > path {
    stroke: black;
    stroke-width: 1px;
}


.rob_png {
    height: 60px;
    width: 60px;
    transition: all 0.4s ease;
}

@media screen and (min-width: 768px) {
    .rob {
        width: 20%;
    }
}
