
section {
  position: relative;
  margin: 0 auto;
  padding: 2rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  /* text-align: justify; */
}

section > h2:first-of-type {
  color: rgb(32, 32, 32);
  font-weight: 400;
}


@media (min-width: 980px) {
section {
  height:calc(-webkit-fit-content + 5vh);
  height:calc(-moz-fit-content + 5vh);
  height:calc(fit-content + 5vh);
}

section.top {
  margin-bottom: 5rem;
}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
                  only screen and (min--moz-device-pixel-ratio: 2),
                  only screen and (-o-min-device-pixel-ratio: 2/1),
                  only screen and (min-device-pixel-ratio: 2)
{  

 section.top {
  margin-top: 1rem;
 }

}