@import url('./css/typography.css');
@import url('./css/animations.css');
@import url('./css/header.css');
@import url('./css/nav.css');
@import url('./css/hamburger.css');
@import url('./css/coffee.css');
@import url('./css/footer.css');
@import url('./css/sidebar.css');
@import url('./css/buttons.css');
@import url('./css/name_form.css');
@import url('./css/intro.css');
@import url('./css/section.css');
@import url('./css/info_cards.css');



:root {
/* --color-1: #e27d60;
--color-2: #85dcbb;
--color-3: #c38d9e;
--color-4: #41b3a3;
--color-5: #553d67; */

--color-primary: #121212;
--color-secondary: #fafafa;

--color-gradient-bg: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
--color-nav-bg: linear-gradient(120deg, #181818 45%, #121212);
--color-bg: #ededed;
--color-bg-secondary: #181818;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    background-color: #ededed;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.darkmode {
    background: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
}

main {
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    background-color: #ededed;
}

a {
    text-decoration: none;
}

h1 {
    font-family: CaviarDreams;
    font-size: clamp(2rem, 2vw, 2.5rem);
    letter-spacing: 3px;
}

h2 {
    font-family: var(--font-primary);
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 400;
    letter-spacing: 2px;
}

p,
h4 {
    margin: 0.5rem 0;
    font-family: var(--font-primary-light);    
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    color: black;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 2rem;
}

.hero {
    margin: 0;
    padding: 2rem 0 0;
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    object-fit: cover;
    object-position: center;
    /* background: linear-gradient(0deg, #ededed 50%, lightgray ); */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.hero > img {
    width: 85%;
    height: auto;
    align-self: center;
    filter: grayscale(100%);
}

.hero > h1,
.hero > h4 {
    text-align: left;
}

.hero > h1 {
    color: var(--color-secondary);
    text-shadow: 2px 2px 4px #000000;
    margin: 0.5rem 0;
}

.hero > h4 {
    color: var(--color-primary);
}

.hello {
    max-width: 60%;
}


.call_to_action {
    position: relative;
    max-width: 60%;
  }

.projects {
    width: 100%;
    background: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
}


article {
    margin: 0 auto;
    padding: 10vh 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
  }

article h2 {
    color: var(--color-secondary);
    font-size: clamp(3rem, 3.5vw, 4rem);
}

  article p {
    color: var(--color-secondary);
    text-align: center;
  }

  section:nth-child(2) {
    background-color: #eaeaea;
  }

  .projects_wrapper {
    display: grid;
    gap: 1rem;
   /*  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(1, 1fr);
  }
  

  .project {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
  }



@media (min-width: 980px) {
    main {
        width: 60%;
    }

    article {
        width: 60%;
      }
  
      section {
        width: 60%;
      }

      .projects {
        width: 60%;
      }
  
      .projects_wrapper { 
        width: 100%;
        grid-template-columns: repeat(2, 1fr); 
    }

    .hero {
        width: 60%;
    }


    .hero > img {
        width: 55%;
    }
    
    .call_to_action,
    .hello {
       max-width: 40%;
    }

}


@media(min-width: 768px) {    
    
    main {
        width: 80%;
    }

    .hero > img {
        max-width: 65%;
    }

 
    .call_to_action,
    .hello {
       max-width: 50%;
    }
}

     
/* iphone se media Qs */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
{  

    body {
        min-height: 100vh;
    }
    main {
        width: 95%;
        height: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    p,h4 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .hero > img {
        width: 60%;
    }

}
     