@import url('./css/typography.css');
@import url('./css/animations.css');
@import url('./css/header.css');
@import url('./css/nav.css');
@import url('./css/hamburger.css');
@import url('./css/theme.css');
@import url('./css/coffee.css');
@import url('./css/hero.css');
@import url('./css/sidebar.css');
@import url('./css/buttons.css');
@import url('./css/name_form.css');
@import url('./css/intro.css');
@import url('./css/section.css');
@import url('./css/info_cards.css');
@import url('./css/footer.css');



:root {
scroll-behavior: smooth;
scroll-padding-top: 2rem;

/* ligthmode */
--color-primary: #121416;
--color-bg: #fafafa;
--color-bg-accent: #ededed;

--color-primary-btn: #ededed;
--color-bg-btn: #121212;

/* darkmode */
--color-primary-dark:  #dbdbdb;
--color-primary-dark-ac:  #d8d8d8;
--color-bg-dark: #181818;
--color-bg-dark-hover: #282828;

--color-primary-btn-dark: #121212;
--color-bg-btn-dark: #ededed;
--color-bg-btn-dark-hover: #bdbdbd;

--social-icons: #e5e5e5;
--loader: #888;

--color-gradient-bg: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
--color-gradient-sidebar: linear-gradient(30deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
--color-nav-bg: linear-gradient(120deg, #181818 45%, #121212);

/* testing dark light mode */
--color-primary: #121416;
--bg: whitesmoke;
--color-headings:  rgb(8, 4, 22);
--color-p:  rgb(23, 12, 73);
--color-h1: #181818;

}


html {
    --color-primary: #121416;
    --bg: whitesmoke;
    --bg-alt: #ededed;
    --bg-opposite: #282828;
   
    --header: #282828;
    --hamburger: #121212;
    --line: #f8f8f8;
    --nav: #020208;
    --links: #f4f4f4;
    --color-headings:  rgb(8, 4, 22);
    --color-p:  #232328;
    --color-h1: #181818;
    
}


html[data-theme='dark'] {
    --color-primary:  #dbdbdb;
    --bg: #181818;
    --bg-alt: #000;
    --bg-opposite: #dddddd;
   
    --header: #282828;
    --hamburger: #fafafa;
    --line: #121212;
    --nav: #282828;
    --links: rgb(197, 197, 197);

    --color-headings: #121212;
    --color-p:  #e5e5e5;
    --color-h1: #fafafa;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    overflow-x: hidden;
}

.darkmode {
    background: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
}

main {
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    background-color: transparent;
}

a {
    text-decoration: none;
}

h1 {
    font-family: CaviarDreams;
    font-size: clamp(2rem, 2vw, 2.5rem);
    letter-spacing: 3px;
}

h2 {
    font-family: var(--font-primary);
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 400;
    letter-spacing: 2px;
}

p,
h4 {
    margin: 0.5rem 0;
    font-family: var(--font-primary-light);    
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: var(--color-primary);
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.5;
}


.projects {
    width: 100%;
    background: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
}


article {
    margin: 0 auto;
    padding: 10vh 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
  }

article h2 {
    color: var(--color-primary-dark);
    font-size: clamp(3rem, 3.5vw, 4rem);
}

  article p {
    color: var(--color-primary-dark);
    text-align: center;
  }

  section:nth-child(2) {
    background-color: var(--bg-alt);
  }

  .projects_wrapper {
    display: grid;
    gap: 1rem;
   /*  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(1, 1fr);
  }
  

  .project {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
  }



@media (min-width: 980px) {
    main {
        width: 60%;
    }

    article {
        width: 60%;
      }
  
      section {
        width: 60%;
      }

      .projects {
        width: 60%;
      }
  
      .projects_wrapper { 
        width: 100%;
        grid-template-columns: repeat(2, 1fr); 
    }


}


@media screen and (min-width: 768px) {    
    
    main {
        width: 80%;
    }
}   
      
/* iphone se media Qs */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
{  

    body {
        height: 100%;
    }
    main {
        width: 95%;
        height: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    p,h4 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .hero > img {
        width: 60%;
    }

}
      
