* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#about main {
    margin-top: 100vh;
    position: relative;
}

.about_hero {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color:#ededed;
    background-image: url('../../assets/images/robertwagar.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 1;
}

.hero > h2,
.hero > p {
    text-align: center;
}

.hero > h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 1rem 0;
}

.hero > p {
    color: #888;
}

@media(min-width: 768px) {
    
.about_hero {
    width: 78%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);    
}
}

@media(min-width: 768px) {
    
.about_hero {
    width: 58%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    
}
}