@import url('../info_cards.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ededed;
  }

  main {
    background: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
  }

  a {
    text-decoration: none;
  }

  article {
    margin: 0 auto;
    padding: 10vh 0.5rem;
    width: 100%;
  }

  article p {
    color: #ededed;
  }

  section {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    padding: 20vh 0;
  }

  section:nth-child(2) {
    background-color: #eaeaea;
  }

  .projects_wrapper {
    display: grid;
    gap: 1rem;
   /*  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(1, 1fr);
  }
  

  .project {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 980px) {

    article {
      width: 80%;
    }

    section {
      width: 80%;
    }

    .projects_wrapper { 
      width: 100%;
      grid-template-columns: repeat(2, 1fr); }
  }